{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>Welcome to Prestige Wordwide</h1>
<p>A free online marketplace</p>

<h3>Active Listings:</h3>
   
<div class="card bg-secondary">
    <div class="card-body">
        <div class="row">
        {% for project in projects %}
            <div class="col-md-4">
                <div class="card mb-2">
                    <img class="card-img-top" src="{{project.image.url}}" style="width: 270px; height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ project.itemTitle }}</h5>
                            <p class="card-text">{{ project.description }}</p>
                            <a href="{% url 'project_detail' project.pk %}" class="btn btn-primary">View advert</a>
                        </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content%}
