{% extends "base.html" %}
{% comment %} {% extends "listingStyle.html" %} {% endcomment %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<div class="content-section">
        <div class="media">
        <img class="rounded-circle account-img" src="{{user.profile.image.url}}">
           <br>
            <br>
            <div class="media-body">
                <h2 class="account-heading">{{user.username}}</h2>
                <p class="text-secondary">{{user.email}}</p>
                <button class="btn btn-outline-info" onclick="window.location.href = '/profile'" >Update Profile</button>
            </div>
        </div>
    </div>
<h3>Your active listings:</h3>
<div class="card bg-secondary "> 
    <div class="card-body">
            <div class="row">
            {% for myListing in portal %}
                <div class="col-md-4">
                    <div class="card mb-2">
                        <img class="card-img-top" src="{{myListing.image.url}}" style="width: 270px; height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ myListing.itemTitle }}</h5>
                            <p class="card-text">{{ myListing.description }}</p>
                            <a href="{% url 'project_detail' myListing.pk %}" class="btn btn-primary">View advert</a>
                        </div>
                    </div>
                </div>
            
            {% endfor %}
        </div>
</div>
{% endblock content%}
